html {
    height: 100%;
    max-width: 1280px;
    padding-right: 10%;
    padding-left: 10%;
    font-family: "Tahoma", sans-serif;
}

body {
    width: 100%;
    margin: 0px;
}

h1 {
    font-family: "Arial black";
    letter-spacing: 3px;
}

.title h1 {
    color: #000;
    padding-top: 30px;
    margin: 10px 0px;
}

#button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    opacity: .6;
    transition: .3s;
    outline-color: #fff;
}

button a {
    text-decoration: none;
}

#button:hover {
    opacity: .9;
}

.headerImage {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}


#navBar {
    z-index: 10;
    width: 80%;
    padding: 0px;
    margin: 0px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #999999;
    position: fixed;
    /* Make it stick/fixed */
    top: -50px;
    /* Hide the navbar 50 px outside of the top view */
    left: 0px;
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
}

#navBar a {
    float: left;
    font-family: "Tahoma";
    text-transform: uppercase;
    padding: 14px 16px;
    letter-spacing: 3px;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#navBar a:hover {
    background-color: #111;
}

.navbarContact
{
        top: -0px;
}


.active {
    background-color: #999;
}

.mainSection {
    height: 100%;
}

.section1 {
    /* margin-bottom: 70vh; */
    color: #000;
    padding: 20px;
}

.section1#home {
    margin-bottom: 70vh;
    color: #000;
    padding: 20px;
}

.img#projects img {
    width: 100%;
}

.section1#contact {
    padding-top: 30px;
    float: left;
}

.section2#contact {
    padding-top: 30px;
    float: left;
}

.icon {
    display: none;
    color: #000;
}

#officer {
    width: 20%;
    text-align: center;
    float: left;
    position: relative;
    /* clear: both; */
}

#info {
    /* clear: both; */
}

#officerImg {
    width: 100%;
}

#officerOverlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0%;
    transition: .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    background-color: #008CBA;
    border-radius: 50%;
}

#officer:hover #officerOverlay {
    opacity: 70%;
}

.titles {
    margin-top: 30%;
}

@media only screen and (max-width:650px) {
    #navBar {
        /* margin-top: 100px; */
        display: none;
        width: 100%;
        position: fixed;
        margin-left: 0px;
        margin-right: 0px;
        top:0px;

    }

    .icon {
        padding-left: 100%;
        /* color: #000; */
        position: fixed;
        top: 10px;
        right: 20px;
        display: block;
        float: right;
        z-index: 100;
    }

    #navBar a {
        width: 100%;
    }

    html {
        padding-right: 0px;
        padding-left: 0px;
    }

    .titles {
        font-size: 2em;
    }

    #officer {
        width: 100%;
        text-align: center;
        float: left;
        position: relative;
        /* clear: both; */
    }
}
