html {
    height: 100%;
    max-width: 1280px;
    padding-right: 10%;
    padding-left: 10%;
    font-family: "Tahoma", sans-serif;
}

body {
    width: 100%;
    margin: 0px;
}

h1 {
    font-family: "Arial black";
    letter-spacing: 3px;
}

.title h1 {
    color: #000;
    padding-top: 10px;
    margin: 10px 0px;
}

#button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    opacity: .6;
    transition: .3s;
    outline-color: #fff;

}

button a {
    text-decoration: none;
}

#button:hover {
    opacity: .9;
}

.headerImage {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

#navBar {
    z-index: 10;
    background-color: #999999;
    padding: 0px;
    margin: 0px;
    display: block;
    position: relative;
    /* width: 100%; */
}

#navBar a:link {
    font-family: "Tahoma";
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* font-variant: small-caps; */
}

#navBar ul {
    position: fixed;
    top: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 80%;
}

#navBar li {
    float: left;
}

#navBar li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navBar li a:hover {
    background-color: #111;
}

/* #navBar {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
} */

.active {
    background-color: #999;
}

.mainSection {
    height: 100%;
}

.section1 {
    /* margin-bottom: 70vh; */
    color: #000;
    padding: 20px;
}

.section1#home {
    margin-bottom: 70vh;
    color: #000;
    padding: 20px;
}

.img#projects img {
    width: 100%;
}

.section1#contact {
    padding-top: 30px;
    float: left;
}

.section2#contact {
    padding-top: 30px;
    float: left;
}

.icon {
    display: none;
    color: #000;
}

#officer
{
    width:20%;
    text-align: center;
    float: left;
      position: relative;
    /* clear: both; */
}

#info
{
    /* clear: both; */
}

#officerImg
{
    width:100%;
}
#officerOverlay
{
     position: absolute;
     top:0px;
     bottom:0px;
     right: 0px;
     left: 0px;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #008CBA;
      border-radius: 50%;

}

#officer:hover #officerOverlay {
  opacity: 70%;
}

.titles
{
margin-top: 30%;
}


@media only screen and (max-width:650px) {
    #navBar {
        /* margin-top: 100px; */
        display: none;
        /* width: 100%; */
        position: fixed;

    }

    .icon {
        padding-left: 100%;
        /* color: #000; */
        position: fixed;
        top: 20px;
        right: 20px;
        display: block;
        float: right;
        z-index: 100;
    }

    #navBar li {
        width: 100%;

    }
    #navBar ul{
        width: 100%;
        padding-right: 50px;
        padding-top: 50px;

    }


    html {
        padding-right: 0px;
        padding-left: 0px;
    }
    .titles
    {
        font-size: 2em;
    }

    #officer
    {
        width:100%;
        text-align: center;
        float: left;
          position: relative;
        /* clear: both; */
    }
}
